# Python
__pycache__/
*.py[cod]
.coverage
.coverage.*
coverage.xml
htmlcov/

# IDEs
.vscode

# Colcon build artifacts
build/
install/
log/

# Generated parameter module (created by pre-commit)
livekit_ros2_bridge/parameters.py
