# Python
__pycache__/
*.py[cod]
.coverage
.coverage.*
coverage.xml
htmlcov/

# IDEs
.vscode

# Local environment files
.env
.env.*

# Colcon build artifacts
build/
install/
log/

# Generated parameter module (created by pre-commit)
livekit_ros2_bridge/parameters.py

# Local bridge config
livekit_bridge.params.yaml
